* {
    font-family: 'RocknRoll One', sans-serif;
    padding: 2px;
    margin: 0px;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    'h1, h1'
    'h2, h2'
    'm, m'
    'c, c'
    'f, f';
    height: 250vh;
    width: 95vw;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: #9ccfd8;
}

header {
    grid-area: h1;
    width: 100%;
    text-align: center;
    background-color: #31748f;

}

.section-header {
    grid-area: h2;
    background-color: #31748f;
    text-align: center;
    width: 100%;
}
.wrapper {
    grid-area: m;
    background-color: #9ccfd8; 

}

.wrapper > .cart {
    grid-area: c;
    width: 100%;
    position: absolute;
    align-self: center;
    text-align: center;
    background-color: #e0def4;

}

footer {
    grid-area: f;
    text-align: center;
    background-color: #31748f;
}


@media (min-width: 640px) {
    section {
    grid-template-rows: 20px 300px 100px 20px;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      'h1, h1,  h1'
      'h2, h2, h2'
      'm, m, m'
      'c, c, c'
      'f, f, f';
      gap: 5px;
      height: 100vh;
      width: 100vw;
    }
    
    header {
        grid-area: h1;
        text-align: center;
    
    }
    .section-header {
        grid-area: h2;
        text-align: center;
    }

    .wrapper {
        grid-area: m;
    
    }

    .wrapper > .cart {
        grid-area: c;
        width: 100%;
        position: absolute;
        align-self: center;
        text-align: center;
        background-color: #e0def4;
    
    }

    footer {
        grid-area: f;
        text-align: center;
        
    }



}

