* {
    font-family: 'RocknRoll One', sans-serif;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

.container {
    display: grid;
    grid-template-areas: 
    'h1, h1'
    'm, m'
    'f, f';
    height: 250vh;
    width: 95vw;
    gap: 5px;

}

header {
    grid-area: h1;
    text-align: center;

}


main {
    grid-area: m;

}



footer {
    grid-area: f;
    display: flexbox;
    flex-direction: row;
    text-align: center;
    
}


@media (min-width: 640px) {
    section {
    
    grid-template-areas:
      'h1, h1,  h1'
      'm, m, m'
      'f, f, f';
      gap: 5px;
      height: 95vh;
      width: 95vw;
    }

    header {
        grid-area: h1;
        text-align: center;
    
    }
    
    
    main {
        grid-area: m;
    
    }

    footer {
        grid-area: f;
        display: flexbox;
        flex-direction: row;
        text-align: center;
        
    }

}

